<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiang.blog.model.dao.ArticleMapper">
  <resultMap id="BaseResultMap" type="com.jiang.blog.model.pojo.Article">
    <!--@mbg.generated-->
    <!--@Table article-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="deleted_at" jdbcType="TIMESTAMP" property="deletedAt" />
    <result column="picture" jdbcType="VARCHAR" property="picture" />
    <result column="paragraph" jdbcType="VARCHAR" property="paragraph" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="tag" jdbcType="VARCHAR" property="tag" />
    <result column="article_path" jdbcType="VARCHAR" property="articlePath" />
    <result column="whatch_number" jdbcType="INTEGER" property="whatchNumber" />
    <result column="like" jdbcType="INTEGER" property="like" />
    <result column="cover" jdbcType="LONGVARCHAR" property="cover" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
    <result column="hot" jdbcType="BIGINT" property="hot" />
    <result column="rec" jdbcType="BIGINT" property="rec" />
    <result column="comments_count" jdbcType="BIGINT" property="commentsCount" />
    <result column="side_article" jdbcType="BIGINT" property="sideArticle" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, created_at, updated_at, deleted_at, picture, paragraph, `name`, tag, article_path, 
    whatch_number, `like`, cover, content, hot, rec, comments_count, side_article
  </sql>
  <select id="queryArticlesByTags" parameterType="java.lang.String"
          resultMap="com.jiang.blog.model.dao.ArticleMapper.BaseResultMap">
    select
    <include refid="com.jiang.blog.model.dao.ArticleMapper.Base_Column_List"></include>
    from article where tag = #{tags,jdbcType=VARCHAR}
  </select>

  <select id="queryArticles" resultMap="com.jiang.blog.model.dao.ArticleMapper.BaseResultMap">
    select
    <include refid="com.jiang.blog.model.dao.ArticleMapper.Base_Column_List"/>
    from article
  </select>
</mapper>