<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiang.blog.model.dao.CommentMapper">
  <resultMap id="BaseResultMap" type="com.jiang.blog.model.pojo.Comment">
    <!--@mbg.generated-->
    <!--@Table `comment`-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="deleted_at" jdbcType="TIMESTAMP" property="deletedAt" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="article_id" jdbcType="BIGINT" property="articleId" />
    <result column="manager_id" jdbcType="BIGINT" property="managerId" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
    <result column="is_reply" jdbcType="TINYINT" property="isReply" />
    <result column="reply_id" jdbcType="BIGINT" property="replyId" />
    <result column="to" jdbcType="LONGVARCHAR" property="to" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, created_at, updated_at, deleted_at, user_id, article_id, manager_id, content, 
    is_reply, reply_id, `to`
  </sql>
</mapper>